<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
    </head>
	<body>
		<!-- HEADER -->
		<header>
			<%- include('../partials/header'); %>
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="/store">Store</a></li>
						<li><a href="/cart">Cart</a></li>
						<li><a href="/invoice">Invoice</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./images/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Laptop<br>Collection</h3>
								<a href="/store?category_id=10fe7c96-ce93-4fad-8870-c9688c395c70" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img alt="" src="./images/shop03.png">
							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
								<a href="/store?category_id=b13136de-06f0-4d00-9ec7-964419eedf60" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop" style="
    width: 360px;
    height: 240px;
">
							<div class="shop-img cover">
								<img src="https://m.media-amazon.com/images/I/61OkiBlX+GL._AC_UL320_.jpg" class="center" alt="" style="
" https:="" m.media-amazon.com="" images="" i="">
							</div>
							<div class="shop-body">
								<h3>Tablets<br>Collection</h3>
								<a href="/store?category_id=aa30154a-fa32-4eae-90e5-7e7c422c151b" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Products</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<% for (var i = 0; i < categories.length; i++) { %>
										<li><a id="<%= categories[i].category_id %>" class="category" data-toggle="tab" href="#tab1"><%= categories[i].name %></a></li>										
									<% } %>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<div id="slick-nav-1" class="products-slick-nav">
								</div>
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<% for (var i = 0; i < products.length; i++) { %>
											<div class="product">
												<div class="product-category" id="<%= products[i].product_id %>" data-category-id="<%= products[i].category_id %>">
													<div class="product-img cover">
														<a href="/products/<%= products[i].product_id %>">
															<img src="<%= products[i].image %>" class="center" alt="">
														</a>
													</div>
													<div class="product-body">
														<p class="product-category"><%= categories.find((category) => {return category.category_id == products[i].category_id}).name %></p>
														<h3 class="product-name"><a href="/products/<%= products[i].product_id %>"> <%= products[i].name %></a></h3>
														<h4 class="product-price">$<%= products[i].price %></h4>
														<div class="product-rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="product-btns">
															<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
																	wishlist</span></button>
															<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
																	compare</span></button>
															<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
														</div>
													</div>
													<div class="add-to-cart">
														<button class="add-to-cart-btn" data-product-id="<%= products[i].product_id %>" data-cart-id="<%= cart.cart_id %>"><i class="fa fa-shopping-cart"></i> add to cart</button>
													</div>
												</div>
											</div>											
										<% } %>
									</div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="/store">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->



		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

		<!-- FOOTER -->
		<footer id="footer">
			<%- include('../partials/footer'); %>
		</footer>
		<!-- /NEWSLETTER -->
		<div class="alert_wrapper">
			<div class="alert_backdrop"></div>
            <div class="alert_inner">
				<div class="alert_item alert_info">
                    <div class="icon data_icon">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="data">
                        <p class="title"><span>Info:</span>
                            User action pending
                        </p>
                        <p class="sub">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="icon close">
						<i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="alert_item alert_warning">
					<div class="icon data_icon">
						<i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="data">
						<p class="title"><span>Warning:</span>
                            User action warning
                        </p>
                        <p class="sub">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="icon close">
						<i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="alert_item alert_error">
					<div class="icon data_icon">
						<i class="fas fa-bomb"></i>
                    </div>
                    <div class="data">
						<p class="title"><span>Error:</span>
                            User action error
                        </p>
                        <p class="sub">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="icon close">
						<i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="alert_item alert_success">
					<div class="icon data_icon">
						<i class="fas fa-check-circle"></i>
                    </div>
                    <div class="data">
						<p class="title"><span>Success:</span>
                        </p>
                        <p class="sub"></p>
                    </div>
                    <div class="icon close">
						<i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

		
		
		<!-- jQuery Plugins -->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/slick.min.js"></script>
		<script src="/javascripts/nouislider.min.js"></script>
		<script src="/javascripts/jquery.zoom.min.js"></script>
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/ejs.js"></script>
		<script src="/javascripts/ejs.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

		<% if (message && messageType) { %>
		<script>
			var message = "<%=message%>";
            var messageType = "<%=messageType%>";
            var alert_items = document.querySelectorAll(".alert_item");
            var alert_wrapper = document.querySelector(".alert_wrapper");
            var close_btn = document.querySelectorAll(".close");
            alert_wrapper.classList.add("active");
            alert_items.forEach(function(alert_item, alert_index){
                alert_item.style.top = "-100%";  
            })
            
            close_btn.forEach(function(close, close_index){
                close.addEventListener("click", function(){
                    alert_wrapper.classList.remove("active");
        
                    alert_items.forEach(function(alert_item, alert_index){
                        alert_item.style.top = "-100%";
                    })
                })
            })
            
            document.querySelector(".alert_item.alert_success").style.top = "10%";
            document.querySelector(".alert_item.alert_success div.data p.sub").innerHTML = message;
        </script>
    	<%} %>
		<!-- /FOOTER -->
		<script>
			document.querySelectorAll('a.category').forEach((anchor) => {
				anchor.addEventListener('click', () => {
					const categoryFilterId = anchor.id;
					document.querySelectorAll('.product.slick-slide').forEach((product) => {
						const productCategoryId = product.firstElementChild.dataset.categoryId;
						if (productCategoryId == categoryFilterId) {
							product.classList.remove("hidden");
						} else {
							product.classList.add("hidden");
						}
					})
					const tabPane = document.querySelector('.tab-pane');
					triggerEvent(tabPane, 'load');
				})
			})
			const triggerEvent = (element, eventName) => {
					var event = document.createEvent("HTMLEvents");
					event.initEvent(eventName, false, true);
					element.dispatchEvent(event);
				}
		</script>
	</body>
</html>
