<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="stylesheets/login-style.css"/>
<br>
<br>
<br>
<br>
<div class="login-block">
    <h1>Sign In</h1>
    <form action="/api/v1/account/sign-in" method="post" id="signInForm">
        <input type="text" placeholder="Full Name" name="name" value="<%=locals.name%>"/>
        <input type="text" placeholder="Phone Number" name="phone" value="<%=locals.phone%>"/>
        <input type="text" placeholder="Email" name="email" value="<%=locals.email%>"/>
        <input type="password" placeholder="Password" name="password" value="<%=locals.password%>"/>
        <input type="password" placeholder="Verify Password" name="rewrite_password" value="<%=locals.rewrite_password%>"/>
    </form>
    <a href="/log-in" style="text-decoration: none; color:#0067b8">Already have an account?</a>
    <br>
    <br>
    <% if (locals.message) { %>
        <p style="color: red; text-align: center;" > <%=message%> </p>
    <%} %>
  
    <button type="submit" form="signInForm">Confirm</button>
</div>