<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>

<body>
	<!-- HEADER -->
	<header>
		<%- include('../partials/header') %>
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="/home">Home</a></li>
					<li class="active"><a href="/store">Store</a></li>
					<li><a href="/cart">Cart</a></li>
					<li><a href="/invoice">Invoice</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="/store">Store</a></li>						
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Categories</h3>
						<div class="checkbox-filter">
							<% for (var i = 0; i < categories.length; i++) {%>
								<div class="input-checkbox">
									<input type="checkbox" id="category-<%= i %>" data-id="<%= categories[i].category_id %>">
									<label for="category-<%= i %>">
										<span></span>
										<a href="<%=`${categoryFilteringPath}&category_id=${categories[i].category_id}`%>"><%=categories[i].name%></a>
									</label>
								</div>
							<% } %>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Price</h3>
						<div class="price-filter">
							<div id="price-slider"></div>
							<div class="input-number price-min">
								<input id="price-min" type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
							<span>-</span>
							<div class="input-number price-max">
								<input id="price-max" type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
						<br>
						<a class="header-search search-btn center" id="price-filter" href="" style="text-align: center;background: rgb(231, 11, 11);color: white;font-weight: bolder;">Search</a>
					</div>
					<!-- /aside Widget -->

				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="store" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">
							<label>
								Sort By:
								<select class="input-select">
									<option value="0">Popular</option>
									<option value="1">Position</option>
								</select>
							</label>

							<label>
								Show:
								<select class="input-select">
									<option value="0">20</option>
									<option value="1">50</option>
								</select>
							</label>
						</div>
						<ul class="store-grid">
							<li class="active"><i class="fa fa-th"></i></li>
							<li><a href="#"><i class="fa fa-th-list"></i></a></li>
						</ul>
					</div>
					<!-- /store top filter -->

					<!-- store products -->
					<div class="row">
						<% for (var i=0; i < products.length; i++) {%>
							<!-- product -->

							<div class="col-md-4 col-xs-6">
								<div class="product" id="<%= products[i].product_id %>">
									<div class="product-img">
											<div class=" cover"><a href="/products/<%= products[i].product_id %>"><img src="<%= products[i].image%>" class="center" alt=""></a></div>
								</div>
								<div class="product-body">
									<p class="product-category">
										<%= categories.find((category) => {return category.category_id == products[i].category_id;}).name %>
									</p>
									<h3 class="product-name"><a href="/products/<%= products[i].product_id %>">
											<%= products[i].name%>
										</a></h3>
									<h4 class="product-price">$<%= products[i].price%><del
												class="product-old-price"></del></h4>
									<div class="product-rating">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-0" aria-hidden="true"></i>
									</div>
									<div class="product-btns">
										<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
												class="tooltipp">add to
												wishlist</span></button>
										<button class="add-to-compare"><i class="fa fa-exchange"></i><span
												class="tooltipp">add to
												compare</span></button>
										<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
												view</span></button>
									</div>
								</div>
								<div class="add-to-cart">
									<button class="add-to-cart-btn" data-cart-id="<%= cart.cart_id %>" data-product-id="<%= products[i].product_id %>"><i class="fa fa-shopping-cart"></i> add to
											cart</button>
								</div>
							</div>
					</div>
					<!-- /product -->
					<% } %>
				</div>
				<!-- /store products -->

				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<span class="store-qty">Showing <%=productAmount%> products</span>
					<ul class="store-pagination">
						<li><a href="<%=`${pageFilteringPath}&page=${prevPageNumber}`%>"><i class="fa fa-angle-left"></i></a></li>
						<% if (totalPage <= 7) {%>
							<% for (var pageNumber=1; pageNumber <= totalPage; pageNumber++) {%>
								<% if (pageNumber == activePageNumber) { %>
									<li class="active">
										<%=activePageNumber%>
									</li>
								<% } else { %>
								<li><a href="<%=`${pageFilteringPath}&page=${pageNumber}`%>">
									<%=pageNumber%>
								</a></li>	
								<% } %>
							<% } %>
						<% } else if (activePageNumber>= 5 && activePageNumber <= totalPage - 4) {%>
								<li><a href="<%=`${pageFilteringPath}&page=1`%>">1</a></li>
								<li><a>...</a></li>
								<li><a href="<%=`${pageFilteringPath}&page=${prevPageNumber}`%>">
										<%=prevPageNumber%>
									</a></li>
								<li class="active">
									<%=activePageNumber%>
								</li>
								<li><a href="<%=`${pageFilteringPath}&page=${nextPageNumber}`%>">
										<%=nextPageNumber%>
									</a></li>
								<li><a>...</a></li>
								<li><a href="<%=`${pageFilteringPath}&page=${totalPage}`%>">
										<%=totalPage%>
									</a></li>
								<%} else { %>
									<% if (activePageNumber < 5) {%>
										<% for (var pageNumber=1; pageNumber < activePageNumber; pageNumber++) {%>
											<li><a href="<%=`${pageFilteringPath}&page=${pageNumber}`%>">
													<%=pageNumber%>
												</a></li>
											<% } %>
												<li class="active">
													<%=activePageNumber%>
												</li>
												<li><a href="<%=`${pageFilteringPath}&page=${nextPageNumber}`%>">
														<%=nextPageNumber%>
													</a></li>
												<li><a>...</a></li>
												<li><a href="<%=`${pageFilteringPath}&page=${totalPage}`%>">
														<%=totalPage%>
													</a></li>
												<%}%>
													<%if (activePageNumber > totalPage - 4) {%>
														<li><a href="<%=`${pageFilteringPath}&page=1`%>">1</a></li>
														<li><a>...</a></li>
														<li><a href="<%=`${pageFilteringPath}&page=${prevPageNumber}`%>">
																<%=prevPageNumber%>
															</a></li>
														<li class="active">
															<%=activePageNumber%>
														</li>
														<% for (var pageNumber=parseInt(activePageNumber) + 1;
															pageNumber <=totalPage; pageNumber++) {%>
															<li><a href="<%=`${pageFilteringPath}&page=${pageNumber}`%>">
																	<%=pageNumber%>
																</a></li>
															<% } %>
																<%}%>
																	<%}%>
																		<li><a
																				href="<%=`${pageFilteringPath}&page=${nextPageNumber}`%>"><i
																					class="fa fa-angle-right"></i></a>
																		</li>
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<%- include('../partials/footer') %>
	</footer>

	<div class="alert_wrapper">
		<div class="alert_backdrop"></div>
		<div class="alert_inner">
			<div class="alert_item alert_info">
				<div class="icon data_icon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="data">
					<p class="title"><span>Info:</span>
						User action pending
					</p>
					<p class="sub">Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="alert_item alert_warning">
				<div class="icon data_icon">
					<i class="fas fa-exclamation-triangle"></i>
				</div>
				<div class="data">
					<p class="title"><span>Warning:</span>
						User action warning
					</p>
					<p class="sub">Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="alert_item alert_error">
				<div class="icon data_icon">
					<i class="fas fa-bomb"></i>
				</div>
				<div class="data">
					<p class="title"><span>Error:</span>
						User action error
					</p>
					<p class="sub">Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="alert_item alert_success">
				<div class="icon data_icon">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="data">
					<p class="title"><span>Success:</span>
					</p>
					<p class="sub"></p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/slick.min.js"></script>
	<script src="/javascripts/nouislider.min.js"></script>
	<script src="/javascripts/jquery.zoom.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="/javascripts/ejs.js"></script>
	<script src="/javascripts/ejs.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
		const categoryFilteringPath = ("<%= categoryFilteringPath %>").replaceAll("amp;", "");
		// Fix max range of slider
		$(document).ready(function(){
			const minPrice = "<%=minPrice%>" || "gte:1";
			const maxPrice = "<%=maxPrice%>" || "lte:2000";
			var slider = document.getElementById('price-slider');
			slider.noUiSlider.updateOptions({
				range: {
					'min': 1,
					'max': 2000,
				},
				start: [minPrice.replace('gte:', ''), 
						maxPrice.replace('lte:', '')]
			});
		});

		// Change button href when price slider value changed
		function codeAddress() {
			var slider = document.getElementById('price-slider');
			const priceFilteringPath = "<%=priceFilteringPath%>"
			slider.noUiSlider.on('update', (values, handle) => {
				const priceRange = values;
				document.getElementById('price-filter').href = `${priceFilteringPath.replace("amp;", "")}&price=gte:${priceRange[0]}&price=lte:${priceRange[1]}`;
			})
		}
		window.onload = codeAddress;

		// Add category name to breadcrumb page
		const categories = JSON.parse(htmlDecode("<%= JSON.stringify(categories) %>"));		
		const  categoryFilterId = JSON.parse(htmlDecode("<%= JSON.stringify(category_id) %>"));		
		const categoryFilter = categories.find((category) => {
			return category.category_id == categoryFilterId;
		}) 
		var ejsView;
		if (categoryFilter) {
			ejsView = `
			<li><a href="/store">All Categories</a></li>
			<li class="active"> ${categoryFilter.name} </li>`;
		} else {
			ejsView = `
			<li class="active">All Categories</li>`;			
		}
		const html = ejs.render(ejsView);
		const fragment = create(html);
		document.querySelector('.breadcrumb-tree').appendChild(fragment);

		// Add event listener for categories check box
		for (let i = 0; i < categories.length; i++) {
			const checkbox = document.querySelector(`input#category-${i}`);
			checkbox.addEventListener('click', () => {
				if (checkbox.checked) {
					window.location.href = `${categoryFilteringPath}&category_id=${categories[i].category_id}`;
				} else {
					window.location.href = `${categoryFilteringPath}`;
				}
			})
		}
		const category_id = "<%=category_id%>";
		const inputs = document.querySelectorAll('input');
		inputs.forEach((input) => {
			if (input.dataset.id == category_id) {
				input.checked = 'true';
			}
		}) 	

		function htmlDecode(input) {
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
	</script>
</body>

</html>